#contact {
    

    background-color: #111;
    
  }
.card-text{
    color: aquamarine;
    background-color: black;

}

.btn btn-primary{
    background-color: chartreuse;
}
.text{
    color: darkcyan;
}
     
  